@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #0D9276; 
    --good-bg: #46ff64;
    --danger: #ff4646;
    --average-bg: #fff846;
    --color-black: #000000;
    --secondary-bg: #0d927518;
    --yellow-bg: #fcb336;
    --transparent-bg: #c9c9c961;
    --grey: #7e7f81;
    --white: #ffffff;
  }
}

.btn {
  @apply bg-skin-green text-skin-white py-[8px] font-medium px-[24px] text-custom-p rounded-[4px] ;
}
.btn-second {
  @apply border-black border text-skin-textBase font-medium py-[8px] px-[24px] text-custom-p rounded-[4px]; 
}

.container {
  @apply max-w-[1200px] mx-auto ;
}
 
 